select {
  height: 50px;
  overflow-y: scroll;
}

.Data-div {
  overflow-y: scroll;
  height: 150px;
}
.Data-div1 {
  text-align: center;
  padding-top: 75px;
  height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 320px;
  border-radius: 20px;
  padding: 0;
  }
  
  .dropdown-content a {
  color: #0d4876;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  #myDropdown a:hover {
  background-color: #2269a0;
  color: white;
}

.inner-data-Div {
  height: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cfdbe3;
  min-width: 160px;
  overflow: auto;
  margin-top: 340px;
}

.menuchange {
  height: 50px;
  padding: 0;
  text-align: center;
  background: none;
  border: none;
}

.show {
  display: block;
}

.chart-btn {
  margin-left: 10px;
  background: none;
  color: #0d4876;
  border-radius: 7px;
  font-size: 15px;
  border: 1px solid #0d4876;
  height: 25px;
  box-shadow: #0d4876 10;
}
#hourly {
  background-color: #0d4876;
  color: white;
}

.custom-hr {
  margin: 0;
}

#scrollbar {
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  padding: 20px;
  height: 60vh;
  /* height: 400px; */
  overflow-y: scroll;
  /* box-shadow: 20px 20px 50px rgb(204, 204, 204); */

}

.style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}


.style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a3a1a1;
}
.inner-div-check {
  background-color: rgb(247, 247, 247);
  /* border-bottom: 1px solid; */
  height: 50px;
  padding: 12px;
  border-radius: 10px;
}

.selected-item {
  border: 1px solid;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
  white-space: nowrap;
  background-color: rgb(224, 224, 224);
}
.selected-label {
  border: 1px solid;
  padding: 10px;
  margin: 2px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}

.cancel-button {
  margin-left: 10px;
  background-color: rgb(255, 73, 73);
  height: 20px;
  color: white;
  font-size: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .selected-label {
    border: 1px solid;
    padding: 5px;
    margin: 2px;
    height: 35px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
  }
  .cancel-button {
    margin-left: 10px;
    background-color: #c10202;
    height: 19px;
    color: white;
    font-size: 9px;
    border-radius: 5px;
  }
}


.style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}


.style-3::-webkit-scrollbar
{
  height: 10px;
	width: 12px;
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a3a1a1;
}

#pdf-div{
  display: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
}

.currency {
  width: fit-content;
  padding: 10px;
  background: #0d487630;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#navbar-currency {
  background: #0d487630;
  width: fit-content;
  height: 45px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.filtermodal1 .modal-header {
  padding-bottom: 0;
}
.filtermodal1 .modal-body {
  padding: 0 1.75rem 0 1.75rem;
}
.filtermodal1  .modal-footer {
  padding-top: 0;
}
/* body {
  --scroll-size: 5px;
  --scroll-radius: 10px;
  --scroll-track: rgb(255 255 255 / 10%);
  --scroll-thumb-color: #fff;
} */

@media only screen and (max-width: 503px) {
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cfdbe3;
    min-width: 160px;
    overflow: auto;
    margin-top: 340px;
    margin-left: 80px;
  }
}
.currancy-label {
  margin-left: 10px;
  font-weight: bold;
  color: #0d4876;
}